@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display:block;
    font-family:'Roboto', sans-serif;
    background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);
    background-size:cover ;
}
.box
{
    position: relative;
    height:600px;
    left:0px;

}
.header
 {
    height:100px;
    width:100%; 
    background-size: 300px;
   background-color:rgb(10, 10, 10) ;
    border-bottom:2px solid #fafdfc;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 90px;
    color:rgb(245, 241, 241);

}
.btn{
    position:absolute;
    top:30px;
    padding-bottom: 20px;
    right:20px;
    transition: 0.3s;
}
.btn :hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(44, 93, 138); 
}
button{
    color:rgb(231, 221, 221);
    height:45px;
    width:150px;

    background-image: linear-gradient(rgb(175, 44, 44),rgb(245, 233, 233));
    border-radius: 10px;


}
#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;   

}
.tab
{
    width:500px;

}
table{
    padding-top: 10px;
    color:rgb(243, 118, 16);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font: 700;
    transition: 0.3s;

}
table tr :hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(22, 16, 16); 
    background-color:lightgray;


}
img{
    clip-path: circle();
}
.welcome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(241, 237, 243);
    padding-top: 60px;
}